<div class="d-flex justify-content-around p-2">
    <button id="action-btn" type="button" class="btn btn-primary">
        Action
    </button>
    <button id="sports-btn" type="button" class="btn btn-primary">
        Sports
    </button>
    <button id="rpg-btn" type="button" class="btn btn-primary">
        RPG
    </button>
    <button id="horror-btn" type="button" class="btn btn-primary">
        Survival Horror
    </button>
</div>

<section class="game-section">
{{#each rpgGames as |game|}}
{{> game-details}}
{{/each}}
</section>