<div class="d-flex justify-content between">
    <button id="action-btn" type="button">
        Action
    </button>
    <button id="sports-btn" type="button">
        Sports
    </button>
    <button id="rpg-btn" type="button">
        RPG
    </button>
    <button id="horror-btn" type="button">
        Survival Horror
    </button>
</div>

{{#each games as |game|}}
{{> game-details}}
{{/each}}

<script src="/js/genre.js"></script>